body {
    background-color: $body-bg;
    color: $body-color;
}

h1 {
    font-weight: 800;
}

a:not(.btn), a:hover:not(.btn), a:active:not(.btn) {
    font-style: italic;
    text-decoration: underline;
    color: $orange;
}

.top-navbar {
    padding-top: 40px;
    margin:  0 250px;
}

.pointer {
    cursor: pointer;
}

.logo {
    width: 200px;
}

.form-control, .input-group-text {
    border-radius: 0;
}

.form-control {
    background-color: $body-bg;
    padding: 2rem;
    border: 1px solid $body-color;

    &:focus {
        color: $body-color;
        background-color: $body-bg;
        border-color: $orange;
        outline: 0;
        box-shadow: none;
    }
}

.input-group-text {
    background-color: $darkPink;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.375rem 1.5rem;
}

.btn {
    border-radius: 0;
    padding: 0.75rem 1.25rem;
    font-weight: bold;
}

.btn-primary, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:disabled {
    background-color: $orange;
    border-color: $orange;
}

.btn-secondary {
    border-color: $body-color;
    background-color: $body-bg;
    color: $body-color
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-250 {
    margin-top: 250px;
}

.text-custom {
    color: $orange;
}

.form-group label {
    font-style: italic;
    font-size: 1.2rem;
}

.btn-pink, .btn-pink:hover {
    background-color: $darkPink;
    color: #fff;
}

.text-bigger-13 {
    font-size: 1.3rem;
}

.nav-pills-custom {
    color: white;
    font-weight: 700;

    .nav-item {
        border: 1px solid $orange;
        padding: 0.75rem 1rem;
        cursor: pointer;

        &.active, &:hover {
            background-color: $orange;
        }
    }
}

.table {
    color: white;

    td {
        background-color: #404040;
        border-top: 2px solid $body-bg;
    }
}

.search-btn {
    cursor: pointer;
}

.gallery-img {
    height: 20rem;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 7px 7px 0 0 $darkPink;
    -moz-box-shadow: 7px 7px 0 0 $darkPink;
    box-shadow: 7px 7px 0 0 $darkPink;
    margin-bottom: 30px;
    cursor: pointer;
}

.search-wrapper {
    margin: 0 10rem;
}

@media (max-width: 420px) {
    body {
        font-size: 0.75rem;
    }

    .top-navbar {
        padding-top: 0;
        margin: 0;
    }

    .logo-column {
        display: none;
    }

    .form-control {
        padding: 1rem;
    }

    .btn {
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    .mt-100, .mt-150, .mt-250 {
        margin-top: 10px;
    }

    .home-logo {
        width: 100%;
    }

    .form-group label {
        font-size: 0.75rem;
    }

    .search-wrapper {
        margin: 0;
    }
}
